# Environment variables
.env

# Virtual Environment
.vscode/
venv/

# Uploaded files
uploaded_files/

# Videos
*.mp4
*.avi
*.mov

# Datasets
datasets/

# ML Models
*.pth

# Database
*.db

# Python cache
__pycache__/
*.pyc

# Logs
*.log